@import url('./reset.css');
@import url('./variables.css');

/* Write your global styles here */

html {
  height: 100%;
  font-size: 16px;
}

body {
  margin: 0;
  height: 100%;
  overflow: auto;
}

#root {
  height: 100%;
}
