.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & ul {
    display: flex;
    list-style: none;
  }

  & .navlink {
    margin-right: 8px;
    color: gray;
    text-decoration: none;

    &:focus,
    &:hover {
      color: black;
    }

    &.active {
      color: red;
      text-decoration: underline;
    }
  }

  & .divider {
    margin-right: 8px;
    color: gray;
  }
}
